@font-face {
    font-family: 'BrownStd-Regular';
    src: url('./../../../assets/fonts/BrownStd-Regular.otf');
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('./../../../assets/fonts/BrownStd-Bold.otf')
}

$yellow : #ffcf00;
$black : #171717;
$blue : #0F7EDF;
$white : #ffffff;
$lightwhite : #f9f9f9;

$font-bold: 'BrownStd-Bold';
$font-reg: 'BrownStd-Regular';


footer {
    width: 100%;
    height: 219px;
    background: $black;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 310px;
    }
    @media only screen and (min-width: 320px) and (max-width: 539px) {
        height: 440px;
    }
    @media only screen and (min-width: 540px) and (max-width: 767px) {
        height: 320px;
    }
    & > .container {
        & > .row {
            & > div {
                display: flex;
                padding-top: 24px;
                & > a {
                    margin-right: 79px;
                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                        margin-right: 50px;
                    }
                    @media only screen and (min-width: 320px) and (max-width: 539px) {
                        margin-right: 5px;
                    }
                    @media only screen and (min-width: 540px) and (max-width: 767px) {
                        margin-right: 30px;
                    }
                    & > img {
                        padding-top: 15px;
                    }
                }
                & > div {
                    & > p {
                        font-size: 14px;
                        color: $yellow;
                        padding-bottom: 10px;
                    }
                    & > ul {
                        padding-left: 0;
                        & > li {
                            list-style: none;
                            padding-bottom: 6px;
                            & > a {
                                color: $white;
                                font-size: 11px;
                                & > img:nth-child(1) {
                                    padding-right: 9px;
                                }
                                & > img:nth-child(2) {
                                    padding-right: 15px;
                                }
                            }
                        }
                    }
                }
                & > .support {
                    margin-left: 50px;
                    @media only screen and (min-width: 540px) and (max-width: 767px) {
                        margin-left: 25px;
                    }
                }
                & > .describe {
                    @media only screen and (min-width: 540px) and (max-width: 767px) {
                        margin-left: 12px;
                    }
                    @media only screen and (min-width: 320px) and (max-width: 539px) {
                        margin-left: 50px;
                    }
                    margin-left: 87px;
                    height: 80px;
                    & > form {
                        & > div {
                            & > div {
                                font-size: 12px;
                                color: #b93a3a;
                                padding-top: 5px;
                            }
                        }
                        & > input {
                            background: unset;
                            border: none;
                            border-bottom: 2px solid #fff;
                            width: 166px;
                            color: $white;
                            font-size: 12px;
                            &:focus {
                                outline: none;
                            }
                            @media only screen and (min-width: 992px) and (max-width: 1200px) {
                                width: 149px;
                            }
                            @media only screen and (min-width: 320px) and (max-width: 539px) {
                                width: 120px;
                            }
                        }
                        & > input.ng-invalid.ng-dirty.ng-touched{
                            color: #b93a3a;
                            border-bottom: 2px solid #b93a3a;
                        }
                        & > button {
                            background: $yellow;
                            text-transform: uppercase;
                            color: $black;
                            border-radius: 8px;
                            font-size: 9px;
                            width: 84px;
                            height: 26px;
                            font-family: $font-bold;
                            margin-left: 15px;
                            @media only screen and (min-width: 320px) and (max-width: 991px) {
                                margin-top: 10px;
                            }
                        }
                    }
                    & > p.author {
                        font-size: 10px;
                        color: #363636;
                        margin-top: 15px;
                    }
                }
            }
            & > .col-7 {
                padding-right: 0px;
                @media only screen and (min-width: 320px) and (max-width: 539px) {
                    display: flex;
                    flex-direction: column;
                }
            }
            & > .col-12 {
                @media only screen and (min-width: 320px) and (max-width: 539px) {
                    margin-top: 130px;
                }
                padding-top: 5px;
                display:  flex;
                justify-content:  center;
                & > .wrap {
                    display:  flex;
                    align-items: center;
                    & > div {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}