<footer>
  <div class="container">
    <div class="row">
      <div class="col-4 offset-sm-1">
        <a >
          <img src="./../../../assets/images/Trop_user/logo_footer.svg" alt="logo">
        </a>
        <div>
          <p>Nosotros</p>
          <ul>
            <li>
              <a routerLink='/driver'>
                Soy transportista
              </a>
            </li>
            <li>
              <a>
                Preguntas frecuentes
              </a>
            </li>
            <li>
              <a routerLink="/privacy">
                Políticas de privacidad
              </a>
            </li>
            <li>
              <a routerLink="/terms">
                Términos y Condiciones
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-7">
        <div class="support">
          <p>Soporte</p>
          <ul>
            <li>
              <a href="mailto:soporte@trop.com.ar">
                <img src="./../../../assets/images/Trop_user/message.png" alt="email">
                soporte@trop.com.ar
              </a>
            </li>
            <li>
              <a href="tel:+1164911929">
                <img src="./../../../assets/images/Trop_user/whatsapp.png" alt="phone">
                  11-6491-1929
              </a>
            </li>
          </ul>
        </div>
        <div class="describe">
          <p>Descargar</p>
          <ul>
            <li>
              <a>
                IPhone
              </a>
            </li>
            <li>
              <a>
                Android
              </a>
            </li>
          </ul>
          <p>Suscribirse al newsletter</p>
          <form (ngSubmit)="onSubmit()" [formGroup]="subscibeNews">
            <input type="email" placeholder="email" formControlName="email" [class.err]="subscibeNews.controls['email'].errors && subscibeNews.controls['email'].touched">
            <button class="btn" [disabled]="!subscibeNews.valid">ingresar</button>
          </form>
          <!-- <p class="author">Trop 2018. Todos los derechos reservados</p> -->
        </div>
      </div>
    </div>
    <div class="row social">
      <div class="col-12">
          <div class="wrap">
              <div>
                <a href="https://www.instagram.com/">
                  <img src="./../../../assets/images/Trop_user/001-instagram.svg" alt="instagram">
                </a>
              </div>
              <div>
                <a href="https://www.facebook.com/Tropapp/">
                  <img src="./../../../assets/images/Trop_user/003-facebook-logo.svg" alt="facebook">
                </a>
              </div>
              <div>
                <a href="https://www.linkedin.com/company/trop/">
                  <img src="./../../../assets/images/Trop_user/002-linkedin.svg" alt="linkedin">
                </a>
              </div>
              <div>
                <a href="https://twitter.com/tropapp1">
                  <img src="./../../../assets/images/Trop_user/004-twitter-logo-silhouette.svg" alt="twitter">
                </a>
              </div>
          </div>
          <p class="author">Trop 2018. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>