@font-face {
    font-family: 'BrownStd-Regular';
    src: url('./../../../assets/fonts/BrownStd-Regular.otf');
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('./../../../assets/fonts/BrownStd-Bold.otf')
}

$yellow : #ffcf00;
$black : #171717;
$blue : #0F7EDF;
$white : #ffffff;
$lightwhite : #f9f9f9;
$bg: #efeef4;

$font-bold: 'BrownStd-Bold';
$font-reg: 'BrownStd-Regular';

input[type="file"], input[type="checkbox"] {
    display: none;
}
textarea {
    resize: none;
}
.container-fluid {
    background-color: $bg;
    width: 100%;
    min-height: 100vh;
    padding-top: 55px;
    padding-bottom: 50px;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    & > .container {
        & > .row {
            & > .col-12 {
                display: flex;
                justify-content: center;
                & > .card {
                    width: 974px;
                    min-height: 600px;
                    height: 100%;
                    border-radius: 4px;
                    background-color: $white;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
                    & > .tab-content {
                        & > .tab-pane {
                            padding-left: 5px;
                            padding-right: 5px;
                            & > .line {
                                width: 80%;
                                margin-left: auto;
                                margin-right: auto;
                                height: 1px;
                                background: #d8d8d8;
                            }
                            & > .wrap_form {
                                max-width: 742px;
                                margin-left: auto;
                                margin-right: auto;
                                & > form {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    & > .group {
                                        display: flex;
                                        margin-top: 65px;
                                        & > .avatar {
                                            width: 300px;
                                            @media only screen and (min-width: 320px) and (max-width: 767px) {
                                                max-width: 300px;
                                                margin-right: 10px;
                                            }
                                            display:  flex;
                                            justify-content:  start;
                                            padding-top:  20px;
                                            flex-direction: column;
                                            align-items: center;
                                            & > .img {
                                                width: 126px;
                                                height: 126px;
                                                margin-bottom: 20px;
                                                & > img {                             
                                                    max-width:100%; 
                                                    height:100%;
                                                    border-radius: 50%;
                                                }
                                            }
                                            & > .stars {
                                                display: flex;
                                                & > .star {
                                                    position: relative;
                                                    & > img {
                                                        position: absolute;
                                                    }
                                                    & > .progress {
                                                        height: 20px;
                                                        width: 21px;
                                                        background-color: #fff;
                                                        border-radius: unset !important;
                                                        & > .progress-bar {
                                                            background-color: $yellow;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        & > .main-info {
                                            display: flex;
                                            flex-direction: column;
                                            @media only screen and (min-width: 320px) and (max-width: 767px) {
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                            }
                                            & > .edit {
                                                position: relative;
                                                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                                    padding-top: 10px;
                                                  }
                                                input::-moz-placeholder { /* Firefox 19+ */
                                                    padding-top: 10px;
                                                  }
                                                input:-ms-input-placeholder { /* IE 10+ */
                                                    padding-top: 10px;
                                                  }
                                                input:-moz-placeholder { /* Firefox 18- */
                                                    padding-top: 10px;
                                                  }
                                                & > .btn {
                                                    position: absolute;
                                                    right: 20%;
                                                    background: transparent;
                                                    padding-top: 0px;
                                                }
                                            }
                                            & > input#name {
                                                font-family: $font-reg;
                                                font-size: 22px;
                                                font-weight: bold;
                                                font-style: normal;
                                                font-stretch: normal;
                                                line-height: normal;
                                                letter-spacing: normal;
                                                text-align: left;
                                                padding-left: 0;
                                                color: #171717;
                                                background: transparent;
                                                border: unset;
                                                @media only screen and (min-width: 320px) and (max-width: 575px) {
                                                    margin-bottom: 30px;
                                                    position: absolute;
                                                    top: 20px;
                                                    left: 20px;
                                                    font-size: 18px;
                                                }
                                                
                                            }
                                            & > div {
                                                display: flex;
                                                margin-bottom: 15px;
                                                @media only screen and (min-width: 320px) and (max-width: 575px) {
                                                    flex-direction: column;
                                                }
                                                & > label {
                                                    width: 183px;
                                                    @media only screen and (min-width: 320px) and (max-width: 767px) {
                                                        max-width: 183px;
                                                        width: 100%;
                                                    }
                                                    font-family: $font-reg;
                                                    font-size: 12px;
                                                    font-weight: normal;
                                                    font-style: normal;
                                                    font-stretch: normal;
                                                    line-height: normal;
                                                    letter-spacing: normal;
                                                    color: #525252;
                                                    margin-right: 40px;
                                                    display: flex;
                                                    align-items: center;
                                                }
                                                & > input {
                                                    font-family: $font-reg;;
                                                    font-size: 16px;
                                                    font-weight: normal;
                                                    font-style: normal;
                                                    font-stretch: normal;
                                                    line-height: normal;
                                                    letter-spacing: normal;
                                                    text-align: left;
                                                    color: #171717;
                                                    background: transparent;
                                                    border: unset;
                                                }
                                            }
                                        }

                                    }
                                    & > div {
                                        max-width: 776px;
                                        width: 100%;
                                        & > label {
                                            text-align: left;
                                            color: #525252;
                                            font-size: 14px;
                                            font-family: $font-reg;
                                            margin-bottom: 3px;
                                            position: relative;
                                            & > button.btn {
                                                position: absolute;
                                                top: 20px;
                                                right: 0;
                                                background: transparent;
                                            }
                                        }

                                    }
                                    & > .extra {
                                        & > div {
                                            &:first-child {
                                                margin-bottom: 37px;
                                            }
                                            display: flex;
                                            & > label {
                                                width: 165px;
                                                @media only screen and (min-width: 320px) and (max-width: 575px){
                                                    max-width: 60px;
                                                    width: 100%;
                                                }
                                                height: 15px;
                                                font-family: $font-reg;
                                                font-size: 12px;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-stretch: normal;
                                                line-height: normal;
                                                letter-spacing: normal;
                                                color: #383838;
                                                flex-shrink: 0
                                            }
                                            & > .desc {
                                                width: 100%;
                                                .form-control:disabled, .form-control[readonly] {
                                                    background: transparent;
                                                }
                                                & > textarea {
                                                    font-family: $font-reg;
                                                    font-size: 14px;
                                                    font-weight: normal;
                                                    font-style: normal;
                                                    font-stretch: normal;
                                                    letter-spacing: normal;
                                                    color: #171717;
                                                    padding: 0px;
                                                    border: unset;
                                                }
                                            } 
                                        }
                                        &> div:nth-child(2) {
                                            & > .checkboxes {
                                                width: 100%;
                                                margin-left: auto;
                                                margin-right: auto;
                                                display:  flex;
                                                flex-wrap:  wrap;
                                                & > p {
                                                    text-align: left;
                                                    color: #525252;
                                                    font-size: 14px;
                                                    font-family: "BrownStd-Regular";
                                                    margin-bottom: 18px;
                                                }
                                                & > label{
                                                    height: 33px;
                                                    border-radius: 2px;
                                                    border: solid 1px #979797;
                                                    padding: 7px 12px 7px;
                                                    font-size: 14px;
                                                    color: rgba(82, 82, 82, 0.65);
                                                    font-family: $font-reg;
                                                    margin-right: 7px;
                                                    margin-bottom: 10px;
                                                    &::first-letter {
                                                        text-transform: capitalize;
                                                    }
                                                }
                                                & > #automotores-profile:checked + label,
                                                #mudanza-profile:checked + label,
                                                #maquinaria-profile:checked + label,
                                                #objetos-profile:checked + label,
                                                #mascotas-profile:checked + label,
                                                #motocicleta-profile:checked + label,
                                                #muebles-profile:checked + label,
                                                #otros-profile:checked + label {
                                                    border: solid 1px #0f7edf;
                                                    color: $black;
                                                    color: rgba(23, 23, 23, 1);
                                                }
                                                input {
                                                    // max-width: 300px;
                                                    width: 100%;
                                                    border: unset;  
                                                    border-radius: unset;
                                                    border-bottom: 1px $black solid;
                                                    font-family: $font-reg;
                                                    color: $black;
                                                    padding-left: 0;
                                                    padding-right: 0;
                                                    font-size: 14px;
                                                    width: 145px;
                                                    padding-bottom: 0px;
                                                    padding-top: 9px;
                                                    height: 33px;
                                                    font-size: 12px;
                                                    &:focus {
                                                        box-shadow: unset;
                                                        outline: none;
                                                    }
                                                }
                                            }
                                        } 
                                    }

                                    & > .btn {
                                        max-width: 277px;
                                        width: 100%;
                                        height: 47px;
                                        font-size: 13px;
                                        font-family: $font-reg;
                                        color: $white;
                                        border-radius: 6px;
                                        background-color: $blue;
                                        text-transform: uppercase;
                                        margin-left: auto;
                                        margin-right: auto;
                                        margin-top: 45px;
                                        padding-top: 11px;
                                        margin-bottom: 19px;
                                    }
                                }

                            }
                            & > .review {
                                max-width: 566px;
                                width: 100%;
                                margin-left: auto;
                                margin-right: auto;
                                & > .title {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-top: 28px;
                                    margin-bottom: 23px;
                                    & > p:first-child {
                                        font-family: $font-reg;
                                        font-size: 10px;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: rgba(0, 0, 0, 0.45);
                                        text-transform: uppercase;
                                    }
                                    & > p:nth-child(2) {
                                        font-family: $font-reg;
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: #171717
                                    }
                                }
                                & > .allReview {
                                    & > .item {
                                        display: flex;
                                        margin-top: 9px;
                                        & > .avatar{
                                            width: 30px;
                                            margin-right: 25px;
                                            
                                            & > img {
                                                width: 30px;
                                                height: 30px;
                                                border-radius: 50%;
                                            }
                                        }
                                        & > .other-info {
                                            & > .name {
                                                font-family: $font-reg;
                                                font-size: 14px;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-stretch: normal;
                                                line-height: normal;
                                                letter-spacing: normal;
                                                text-align: left;
                                                color: #171717;
                                                margin-left: 5px;
                                            }
                                            & > .stars-date {
                                                display: flex;
                                                margin-bottom: 10px;
                                                & > .stars {
                                                    display: flex;
                                                    margin-right: 16px;
                                                    margin-left: 5px;
                                                }
                                                & > .date {
                                                    display: flex;
                                                    align-items: flex-end;
                                                    font-family: $font-reg;
                                                    font-size: 12px;
                                                    font-weight: normal;
                                                    font-style: normal;
                                                    font-stretch: normal;
                                                    line-height: normal;
                                                    letter-spacing: normal;
                                                    color: #171717;
                                                }
                                            }
                                            & > .review-text {
                                                font-family: $font-reg;
                                                font-size: 12px;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-stretch: normal;
                                                line-height: normal;
                                                letter-spacing: normal;
                                                color: #171717;
                                                width: 100%;
                                                padding-bottom: 12px;
                                                border-bottom: solid 2px #d8d8d8;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.err {
    // color: red !important;
    border-bottom: solid 1px red !important;
}
.errCheckbox {
    color: red !important;
}
@keyframes increase {
    100% {
        width: 80px;
    }
}
app-menu-driver {
    position: absolute !important;
    width: 100% !important;
    background: $yellow ;
}

.modal-dialog {
    display:  flex !important; 
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-top:  10% !important;
    height:  100vh !important;
  }
  .modal-header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    padding-bottom: 56px;
    border-bottom: unset;
  }
  .close {
      position: absolute;
      right: 5px;
      top: 0;
  }
  .modal-footer{
    padding: 0;
    padding-bottom: 39px;
    border-top: unset;
    justify-content: center;
    & > .reject {
        max-width: 175px;
        width: 100%;
        height: 40px;
        font-size: 13px;
        font-family: $font-reg;
        color: $black;
        border-radius: 6px;
        background-color: transparent;
        border: solid 1px $blue;
        margin-right: 49px;
        padding-top: 12px;
    }
    & > .accept {
        max-width: 222px;
        width: 100%;
        height: 40px;
        font-size: 13px;
        font-family: $font-bold;
        color: $white;
        border-radius: 6px;
        background-color: $blue;
        padding-top: 12px;
    }
  }