<div class="container-fluid">
    <app-menu ></app-menu>
    <header>
      <section class="main">
        <div class="container">
          <div class="row">
            <div>
              <p>¿Qué esperás para unirte a Trop? Es muy<br> sencillo. Recibís más ofertas de trabajo y<br> así aumentan tus ingresos. </p>
              <p>Trop se encarga de buscar nuevos clientes y las nuevas ofertas laborales te<br> llegan directamente a tu teléfono.</p>
            </div>
            <div>
              <a class="btn register " (click)="goToRegister()">Unirme a Trop</a>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="benefits">
      <div class="container">
        <div class="row">
          <div class="header">
            <p>Sé tu propio jefe. Trop, un servicio a medida para ti.</p>
          </div>
        </div>
        <div class="row first_section">
          <div class="col-sm">
            <div class="img">
              <img src="./../../../assets/images/driver/event.svg" alt="info">
            </div>
            <div>
              <p>Trabajo Flexible</p>
              <p>No tenés jefes. Vos decidís tu<br> disponibilidad y qué trabajos<br>hacer.</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="img">
              <img src="./../../../assets/images/driver/piggybank.svg" alt="info">
            </div>
            <div>
              <p>Gratis</p>
              <p>No hay que abonar cuotas o<br> aranceles fijos. Solo le pagás a<br> Trop lo correspondiente al<br> trabajo que realizaste.</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="img">
              <img src="./../../../assets/images/driver/route.svg" alt="info">
            </div>
            <div>
              <p>Dentro de la ciudad</p>
              <p>Los transportes se realizan dentro<br> de los límites de la ciudad y sus<br> alrededores. Consúltanos.</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="img">
              <img src="./../../../assets/images/driver/24-hours.svg" alt="info">
            </div>
            <div>
              <p>Atención al transportista</p>
              <p>Si tenés dudas y consultas, resolvé<br> cada una de ellas comunicándote<br> con nosotros. Nuestros operadores<br> están ansiosos por responderte.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="road">
      <div class="wrap">
        <div class="container">
          <div class="row header">
            <p>Simple</p>
            <p>Asi funciona Trop</p>
          </div>
          <div class="row first_block road_trop">
            <div class="col">
              <p>Unite a la red Trop</p>
              <p>La red Trop es una comunidad de transportistas que se está desarrollando rápidamente. Cuenta con una base de clientes fidelizados que la eligen y los pedidos de transportes son permanentes.</p>
            </div>
            <div class="col img">
              <img src="./../../../assets/images/driver/img1.svg" alt="deal">
            </div>
          </div>
          <div class="row second_block road_trop">
            <div class="col img">
              <img src="./../../../assets/images/driver/img2.svg" alt="deal">
            </div>
            <div class="col">
              <p>Accedé a nuestra red de envíos </p>
              <p>Siendo parte de Trop podés acceder a una gran fuente de trabajo y enviar ofertas a los clientes de manera sencilla. </p>
            </div>
          </div>
          <div class="row third_block road_trop">
            <div class="col">
              <p>Elegí trabajos acorde a tus preferencias</p>
              <p>En Trop podes decidir libremente qué trabajos tomar, por lo que tendrás control absoluto sobre tu disponibilidad laboral. </p>
            </div>
            <div class="col img">
              <img src="./../../../assets/images/driver/img3.svg" alt="delivery">
            </div>
          </div>
          <div class="row fourth_block road_trop">
            <div class="col img">
              <img src="./../../../assets/images/driver/img4.svg" alt="deal">
            </div>
            <div class="col">
              <p>Aumentá tus ingresos</p>
              <p>El aumento de tus ingresos solo es parte del resultado de los beneficios que obtendrás por formar parte de la red Trop.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="devices">
      <div class="container">
        <div class="row header">
          <div class="col">
            <p>Inscribite fácilmente y comenzá a incrementar tu volumen de trabajo</p>
          </div>
        </div>
        <div class="row">
          <form [formGroup]="registerDriver" (ngSubmit)="onSubmit()" id="anchor">
            <div class="flex-grid">
              <div class="col-5-flex">
                  <p>Nombre y apellidos</p>
                  <input 
                  type="text" 
                  class="form-control" 
                  formControlName="name" 
                  placeholder="Escribe tu nombre...."
                  [class.err]="registerDriver.controls['name'].errors && registerDriver.controls['name'].touched">
                  
                </div>
                <div class="col-5-flex">
                    <p>Número de teléfono</p>
                    <input 
                    type="text"
                    (keypress)="validationNumber($event)" 
                    class="form-control " 
                    formControlName="phone" 
                    placeholder="Escribe tu teléfono..."
                    [class.err]="registerDriver.controls['phone'].errors && registerDriver.controls['phone'].touched">
                </div>
                <div class="col-5-flex">
                  <p>Email</p>
                  <input 
                  type="email" 
                  class="form-control " 
                  formControlName="email" 
                  placeholder="Escribe tu email..."
                  [class.err]="registerDriver.controls['email'].errors && registerDriver.controls['email'].touched">
                </div> 
                <div class="col-5-flex">
                  <p>Provincia</p>
                  <mat-form-field>
                    <mat-select [(value)]="selected" formControlName="provincia" style="font-family: 'BrownStd-Regular';" >
                      <mat-option style="font-family: 'BrownStd-Regular';color: #495057;" *ngFor="let i of provincia" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-5-flex">
                  <p>Contraseña</p>
                  <input 
                  type="password" 
                  formControlName="password" 
                  class="form-control " 
                  placeholder="Confirmar constraseña"
                  [class.err]="registerDriver.controls['password'].errors && registerDriver.controls['password'].touched"
                  >
                </div>
            </div>
            <div class="btn-block">
              <button [disabled]="!registerDriver.valid" class="btn">Quiero trabajar con Trop</button>
            </div>
            <div class="text-block">
              <p>Rellenando este formulario consiento, comprendo y acepto las condiciones de transportista de Trop.</p>
            </div>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm ios_android">
            <p>Descarga nuestras aplicaciones móviles</p>
            <p>Si prefieres usar aplicaciones iOS o Android, descarga nuestras<br> aplicaciones. Más rápidas e integradas con las últimas tecnologías</p>
            <div>
              <a>
                <img src="./../../../assets/images/Trop_user/BTN_AppStore.svg" alt="AppStore">
              </a>
            </div>
            <div>
              <a>
                <img src="./../../../assets/images/Trop_user/BTN_GooglePlay.svg" alt="GooglePlay">
              </a>
            </div>
          </div>
          <div class="col-sm iphone">
            <div class="wrap">
                <div class="background">
                  <div class="screen">
                      <div id="controls" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item">
                              <img class="d-block w-100" src="./../../../assets/images/image.webp" alt="Second slide">
                            </div>
                            <div class="carousel-item active">
                              <img class="d-block w-100" src="./../../../assets/images/phone.jpg" alt="First slide">
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#controls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#controls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>