<app-menu></app-menu>
<div class="container-fluid">
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a 
          class="nav-item nav-link active" 
          id="nav-home-tab-user" 
          data-toggle="tab" 
          href="#details-user" 
          role="tab" 
          aria-controls="details-user" 
          aria-selected="true">Detalles
        </a>
        <a 
          class="nav-item nav-link" 
          id="nav-profile-tab-user" 
          data-toggle="tab" 
          href="#nav-profile-user" 
          role="tab" 
          aria-controls="nav-profile-user" 
          aria-selected="false">Offertas
          <span>1</span>
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div 
        class="tab-pane fade show active" 
        id="details-user"
        role="tabpanel" 
        aria-labelledby="nav-home-tab-user">a
      </div>
      <div 
        class="tab-pane fade" 
        id="nav-profile-user" 
        role="tabpanel" 
        aria-labelledby="nav-profile-tab-user">b
      </div>
    </div>
  </div>
</div>