<app-menu></app-menu>
<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card" [class.longCard]="true">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <button 
                  class="nav-link active" 
                  href="#login" 
                  role="tab" 
                  data-toggle="tab"
                  id="btn1"
                  >Iniciar sesión</button>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="login">
                    <div class="social ">
                      <button class="btn facebook login"  >Continuar con FACEBOOK</button>
                      <button class="btn gmail login"  >Continuar con GOOGLE</button>
                    </div>
                    <p class="orUse">o usa:</p>
                    <form [formGroup]="loginDriver"  (ngSubmit)="onSubmitLoginDriver()">
  
                      <label for="email1">Email</label>
                      <input 
                      id="email1"
                      type="email" 
                      class="form-control " 
                      formControlName="email" 
                      placeholder="Escribe tu email..."
                      [class.err]="loginDriver.controls['email'].errors && loginDriver.controls['email'].touched">
  
  
                      <label for="password2">Contraseña</label>
                      <input 
                      id="password2"
                      type="password" 
                      formControlName="password" 
                      class="form-control " 
                      placeholder="Confirmar constraseña"
                      [class.err]="loginDriver.controls['password'].errors && loginDriver.controls['password'].touched"
                      >
  
  
                        <button class="btn login" [disabled]="!loginDriver.valid" >Continuar con EMAIL</button>
                    </form>
                    <p><a class="forgot" routerLink='/forgot-password'>Olvide contraseña</a></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>