@font-face {
    font-family: 'BrownStd-Regular';
    src: url('./../../../assets/fonts/BrownStd-Regular.otf');
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('./../../../assets/fonts/BrownStd-Bold.otf')
}

$yellow : #ffcf00;
$black : #171717;
$blue : #0F7EDF;
$white : #ffffff;
$lightwhite : #f9f9f9;
$bg: #efeef4;

$font-bold: 'BrownStd-Bold';
$font-reg: 'BrownStd-Regular';


.container-fluid {
    background-color: $bg;
    width: 100%;
    min-height: calc(100vh - 55px);
    height: 100%;
    & > .main-container {
        max-width: 1246px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // height: 1024px;
        height: calc(100vh - 55px);
        display: flex;
        justify-content: center;
        align-items: center;
        & > h1 {
            text-align: center;
            font-size: 36px;
            color: $black;
        }
    }
    & > .container {
        & > .row {
        }
    }
}