<app-menu></app-menu>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card" [class.longCard]="true">
            <p class="input" *ngIf="showHeader">Please, input fields</p>
            <p class="input" *ngIf="!showHeader">Please, attach your documents</p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <button 
                class="nav-link active" 
                (click)="valueProgressBar(33)" 
                href="#profile" 
                role="tab" 
                data-toggle="tab"
                id="btn1"
                >Paso 1. Datos personales</button>
              </li>
              <li class="nav-item ">
                <button 
                class="nav-link " 
                (click)="valueProgressBar(66)" 
                href="#buzz" 
                role="tab" 
                data-toggle="tab"
                id="btn2"
                [disabled]="!registerDriver.valid">Paso 2. Datos bancarios</button>
              </li>
              <li class="nav-item">
                <button 
                class="nav-link " 
                (click)="valueProgressBar(100)" 
                href="#references" 
                role="tab" 
                data-toggle="tab"
                id="btn3"
                [disabled]="!registerDriver.valid">Paso 3. Adjuntar documentación </button>
              </li>
            </ul>
            <div class="progress">
              <div class="progress-bar progress-bar-info" id="progress" role="progressbar" 
              aria-valuemin="0" aria-valuemax="100" style="width:33%">
              </div>
            </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade   show active" id="profile">
                  <form [formGroup]="registerDriver"  (ngSubmit)="onSubmitDriver()">
                    <label for="name">Nombre y apellidos</label >
                    <input
                    id="name" 
                    type="text" 
                    class="form-control" 
                    formControlName="name" 
                    placeholder="Escribe tu nombre...."
                    [class.err]="registerDriver.controls['name'].errors && registerDriver.controls['name'].touched">

                    <label for="phone">Número de teléfono</label>
                    <input 
                    id="phone"
                    type="text"
                    (keypress)="validationNumber($event)" 
                    class="form-control " 
                    formControlName="phone" 
                    placeholder="Escribe tu teléfono..."
                    [class.err]="registerDriver.controls['phone'].errors && registerDriver.controls['phone'].touched">

                    <label for="alternateNumber">Número alternativo</label>
                    <input 
                    id="alternateNumber"
                    type="text"
                    (keypress)="validationNumber($event)" 
                    class="form-control " 
                    formControlName="alternateNumber" 
                    placeholder="Escribe tu teléfono..."
                    [class.err]="registerDriver.controls['alternateNumber'].errors && registerDriver.controls['alternateNumber'].touched">

                    <label for="email">Email</label>
                    <input 
                    id="email"
                    type="email" 
                    class="form-control " 
                    formControlName="email" 
                    placeholder="Escribe tu email..."
                    [class.err]="registerDriver.controls['email'].errors && registerDriver.controls['email'].touched">

                    <label for="provincia">Provincia</label>
                    <div class="select">
                      <mat-form-field class="material-select">
                        <mat-select [(value)]="selected" id="provincia" formControlName="provincia" style="font-family: 'BrownStd-Regular';" >
                          <mat-option style="font-family: 'BrownStd-Regular';color: #495057;" *ngFor="let i of provincia" value="{{i}}">{{i}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                      <label for="pswd">Contraseña</label>
                      <input 
                      id="pswd"
                      type="password" 
                      formControlName="password" 
                      class="form-control " 
                      placeholder="Confirmar constraseña"
                      [class.err]="registerDriver.controls['password'].errors && registerDriver.controls['password'].touched"
                      >
                      <label for="description">
                        Escriba su mensaje aquí
                      </label>
                      <input 
                      id="description" 
                      class="form-control" 
                      type="text" 
                      formControlName="description"
                      [class.err]="registerDriver.controls['description'].errors && registerDriver.controls['description'].touched">
                      <div class="checkboxes">
                        <p class="services" [class.err]="registerDriver.errors">Extra services</p>
                        <ng-container *ngFor="let service of services" >
                          <input 
                          type="checkbox" 
                          class="form-control"
                          id="{{service}}"
                          formControlName="{{service}}">
                          <label for="{{service}}" class="{{service}}" >{{service}}</label>
                        </ng-container>
                        <input
                        *ngIf="registerDriver.controls['otros'].value"
                        type="text" 
                        class="form-control"
                        placeholder="Input what are you mean"
                        formControlName="otrosText"
                        [class.err]="registerDriver.controls['otrosText'].errors && registerDriver.controls['otrosText'].touched">
                      </div>
                      <button class="btn driver" [disabled]="!registerDriver.valid" (click)="submit1()">Continuar</button>
                    </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="buzz">
                <form [formGroup]="registerDetails"  (ngSubmit)="onSubmitDetails()">
                  <label for="cbu">
                    CBU del titular de la cuenta
                  </label>
                  <input 
                  id="cbu" 
                  class="form-control" 
                  type="text" 
                  (keypress)="validationCuilCbu($event)"
                  formControlName="cbu"
                  [class.err]="registerDetails.controls['cbu'].errors && registerDetails.controls['cbu'].touched"
                  >
  
                  <label for="repeatCbu">
                    Repeat CBU del titular de la cuenta
                  </label>
                  <input 
                  id="repeatCbu" 
                  class="form-control" 
                  type="text" 
                  (keypress)="validationCuilCbu($event)"
                  formControlName="repeatCbu"
                  [class.err]="registerDetails.errors || registerDetails.controls['repeatCbu'].touched && registerDetails.controls['repeatCbu'].errors">
  
                  <label for="cuil">
                    CUIL /CUIT del titular de la cuenta
                  </label>
                  <input 
                  id="cuil" 
                  class="form-control" 
                  type="text" formControlName="cuil" 
                  (keypress)="validationCuilCbu($event)"
                  [class.err]="registerDetails.controls['cuil'].errors && registerDetails.controls['cuil'].touched">
  
                  <label for="bank">
                    Banco del titular de la cuenta
                  </label>
                  <input 
                  id="bank" 
                  class="form-control" 
                  type="text" 
                  formControlName="bank"
                  [class.err]="registerDetails.controls['bank'].errors && registerDetails.controls['bank'].touched">
                  <button class="btn" [disabled]="!registerDetails.valid" (click)="submit2()">Continuar</button>
                </form>
                <div class="skip center-block">
                  <a class="btn" (click)="submit2()">Saltear</a>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade " id="references">
                <form [formGroup]="uploadImages" class="uploadImages">
                  <div class="firstBlock">
                    <div class="personal">
                        <p>
                          Imagen para tu perfil personal
                        </p>
                        <label for="personal" *ngIf="personal.length === 0" class="custom-file-upload" >
                          Elegir archivo
                        </label>
                        <label *ngIf="personal.length === 1"  class="custom-file-upload disabled" >
                          Elegir archivo
                        </label>
                        <input 
                        class="form-control" 
                        formControlName="personal" 
                        type="file" 
                        accept="image/*"
                        (change)="onAddPersonal($event)" 
                        id="personal" >
                    </div>
                    <div class="personal_img">
                      <label for="personal">
                        <img src="./../../../assets/images/Block.svg" alt="add photo" *ngIf="personal.length === 0">
                      </label>
                      <label >
                        <div class="img"  *ngIf="personal.length === 1 ">
                          <div *ngFor="let img of personal">
                            <img [src]="img.url" alt="image">
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="firstBlock vehicle">
                    <div class="personal">
                        <p>
                          Comprobante de Seguro del vehículo
                        </p>
                        <label for="vehicle" *ngIf="vehicle.length === 0 ||  vehicle.length === 1" class="custom-file-upload" >
                          Elegir archivo
                        </label>
                        <label *ngIf="vehicle.length === 2"  class="custom-file-upload disabled" >
                          Elegir archivo
                        </label>
                        <input 
                        class="form-control" 
                        formControlName="vehicle" 
                        type="file" 
                        accept="image/*"
                        (change)="onAddVehicle($event)" 
                        id="vehicle" >
                    </div>
                    <div class="personal_img">
                      <label >
                        <div class="img"  *ngIf="vehicle.length === 1  || vehicle.length === 2">
                          <div *ngFor="let img of vehicle">
                            <img [src]="img.url" alt="image">
                          </div>
                        </div>
                      </label>
                      <label for="vehicle">
                        <img src="./../../../assets/images/Block.svg" alt="add photo" *ngIf="vehicle.length === 0">
                      </label>
                      <label for="vehicle">
                        <img src="./../../../assets/images/Block.svg" alt="add photo" *ngIf="vehicle.length === 1 || vehicle.length === 0">
                      </label>
                    </div>
                  </div>
                  <div class="firstBlock license">
                    <div class="personal">
                        <p>
                          Licencia de conducir
                        </p>
                        <label for="license" *ngIf="license.length === 0 ||  license.length === 1" class="custom-file-upload" >
                          Elegir archivo
                        </label>
                        <label *ngIf="license.length === 2"  class="custom-file-upload disabled" >
                          Elegir archivo
                        </label>
                        <input 
                        class="form-control" 
                        formControlName="license" 
                        type="file" 
                        accept="image/*"
                        (change)="onAddLicense($event)" 
                        id="license" >
                    </div>
                    <div class="personal_img">
                      <label >
                        <div class="img"  *ngIf="license.length === 1  || license.length === 2">
                          <div *ngFor="let img of license">
                            <img [src]="img.url" alt="image">
                          </div>
                        </div>
                      </label>
                      <label for="license">
                        <img src="./../../../assets/images/Block.svg" alt="add photo" *ngIf="license.length === 0">
                      </label>
                      <label for="license">
                        <img src="./../../../assets/images/Block.svg" alt="add photo" *ngIf="license.length === 1 || license.length === 0">
                      </label>
                    </div>
                  </div>
                  <button type="button" class="btn subir" [disabled]="!uploadImages.valid" (click)="onSubmitImage()" routerLink="/orders-for-drivers">Subir</button>
                  <!-- <button type="button" class="btn subir" [disabled]="!uploadImages.valid" (click)="onSubmitImage()" >Subir</button> -->
                </form>
                <div class="skip center-block">
                  <a class="btn img" routerLink="/driver">Saltear</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>