@font-face {
    font-family: 'BrownStd-Regular';
    src: url('./../../../assets/fonts/BrownStd-Regular.otf');
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('./../../../assets/fonts/BrownStd-Bold.otf')
}

$yellow : #ffcf00;
$black : #171717;
$blue : #0F7EDF;
$white : #ffffff;
$lightwhite : #f9f9f9;
$bg: #efeef4;

$font-bold: 'BrownStd-Bold';
$font-reg: 'BrownStd-Regular';
input[type="file"], input[type="checkbox"] {
    display: none;
}
.container-fluid {
    background-color: $bg;
    width: 100%;
    min-height: 100vh;
    padding-top: 105px;
    padding-bottom: 50px;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    & > .container {
        & > .row {
            & > .col-12 {
                display: flex;
                justify-content: center;
                & > .card {
                    width: 800px;
                    min-height: 710px;
                    // height: 100%;
                    border-radius: 4px;
                    background-color: $white;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
                    // margin-top: 52px;
                    .input {
                        font-family: $font-reg;
                        font-size: 24px;
                        text-align: center;
                        color: $black;
                        margin-top: 36px;
                        margin-bottom: 42px;
                        @media only screen and (min-width: 320px) and (max-width: 576px) {
                            margin-bottom: 15px;
                        }
                        @media only screen and (min-width: 320px) and (max-width: 432px) {
                            font-size: 17px;
                        }
                    }
                    & > ul {
                        display: flex;
                        justify-content: space-around;
                        border: unset;
                        & > li {
                            & > button {
                                border: unset;
                                font-family: $font-reg;
                                font-size: 14px;
                                color: #d8d8d8;
                                background: unset;
                                cursor: pointer;
                                &:focus {
                                    outline: none;
                                }
                            }
                            & > button.active {
                                color: #393939
                            }
                        }
                    }
                    & > .progress {
                        margin: 3px 37px 20px;
                        height: 8px;
                        background-color: #d8d8d8;
                        & > .progress-bar {
                            background-color: $yellow;
                        }
                    }
                    & > .tab-content {
                        & > .tab-pane {
                            // display: flex;
                            // flex-direction: column;
                            & > form {
                                display: flex;
                                flex-direction: column;
                                & > label {
                                    text-align: center;
                                    color: #393939;
                                    font-size: 12px;
                                    font-family: $font-reg;
                                    margin-bottom: 3px;
                                }
                                & > input {
                                    max-width: 300px;
                                    width: 100%;
                                    margin-left: auto;
                                    margin-right: auto;
                                    border: unset;  
                                    border-radius: unset;
                                    border-bottom: 1px $black solid;
                                    margin-bottom: 20px;
                                    &:focus {
                                        box-shadow: unset;
                                        outline: none;
                                    }
                                }
                                & > .select {
                                    display: flex;
                                    justify-content: center;
                                    & > .material-select {
                                        max-width: 300px;
                                        width: 100%;
                                    }
                                }
                                & > .checkboxes {
                                    width: 300px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    & > p {
                                        text-align: center;
                                        color: #393939;
                                        font-size: 12px;
                                        font-family: "BrownStd-Regular";
                                        margin-bottom: 3px;
                                    }
                                    & > label{
                                        height: 33px;
                                        border-radius: 2px;
                                        border: solid 1px #979797;
                                        padding: 7px 12px 7px;
                                        font-size: 14px;
                                        color: rgba(82, 82, 82, 0.65);
                                        font-family: $font-reg;
                                        margin-right: 7px;
                                        margin-bottom: 10px;
                                        &::first-letter {
                                            text-transform: capitalize;
                                        }
                                    }
                                    & > #automotores:checked + label,
                                    #mudanza:checked + label,
                                    #maquinaria:checked + label,
                                    #objetos:checked + label,
                                    #mascotas:checked + label,
                                    #motocicleta:checked + label,
                                    #muebles:checked + label,
                                    #otros:checked + label {
                                        border: solid 1px #0f7edf;
                                        color: $black;
                                        color: rgba(23, 23, 23, 1);
                                    }
                                    input {
                                        max-width: 300px;
                                        width: 100%;
                                        margin-left: auto;
                                        margin-right: auto;
                                        border: unset;  
                                        border-radius: unset;
                                        border-bottom: 1px $black solid;
                                        margin-bottom: 20px;
                                        &:focus {
                                            box-shadow: unset;
                                            outline: none;
                                        }
                                    }
                                }
                                & > .btn {
                                    max-width: 277px;
                                    width: 100%;
                                    height: 47px;
                                    font-size: 13px;
                                    font-family: $font-bold;
                                    color: $black;
                                    border-radius: 6px;
                                    background-color: $yellow;
                                    text-transform: uppercase;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: 58px;
                                    padding-top: 11px;
                                }
                                & > .btn.driver {
                                    margin-top: 18px;
                                }
                                & > .btn.subir {
                                    margin-top: 0px;
                                }
                                & > div.desc {
                                    margin-bottom: 26px;
                                    max-width: 300px;
                                    width: 100%;
                                    margin-right: auto;
                                    margin-left: auto;
                                    & > textarea {
                                        font-family: $font-reg;
                                        font-size: 12px;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-stretch: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        color: $black;
                                    }
                                }
                            }
                            & > .skip {
                                display: flex;
                                justify-content: center;
                                & > a {
                                    font-size: 14px;
                                    color: #393939;
                                    text-align: center;
                                    font-family: $font-reg;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: 28px;
                                }
                                & > .btn.img {
                                    margin-top: 11px;
                                }
                            }
                            & > .uploadImages {
                                & > .firstBlock:first-child {
                                    margin-top: 20px;
                                }
                                & > .firstBlock {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 71px;
                                    margin-bottom: 35px;
                                    @media only screen and (min-width: 320px) and (max-width: 576px) {
                                        margin-left: 35px;
                                        margin-right: 35px;
                                    }
                                    & > .personal {
                                        display: flex;
                                        margin-bottom: 10px;
                                        & > p {
                                            font-size: 12px;
                                            color: $black;
                                            font-family: $font-bold;
                                            height: 100%;
                                            width: 230px;
                                            padding-top: 5px;
                                        }
                                        & > .custom-file-upload {
                                            width: 84px;
                                            height: 26px;
                                            border-radius: 6px;
                                            background-color: #0f7edf;
                                            text-transform: uppercase;
                                            color: $white;
                                            font-size: 9px;
                                            text-align: center;
                                            padding-top: 7px;
                                            cursor: pointer;
                                            font-family: $font-reg;
                                            @media only screen and (min-width: 320px) and (max-width: 372px) {
                                                width: 97px;
                                                height: 36px;
                                            }
                                            @media only screen and (min-width: 373px) and (max-width: 576px) {
                                                width: 100px;
                                            }
                                        }
                                    }
                                    & > .personal_img {
                                        @media only screen and (min-width: 320px) and (max-width: 576px) {
                                            display:  flex;
                                            justify-content:  center;
                                            flex-direction:  column;
                                            margin-left:  auto;
                                            margin-right:  auto;
                                        }
                                        & > label {
                                            @media only screen and (min-width: 320px) and (max-width: 576px) {
                                                margin-bottom: 10px;
                                            }
                                            & > .img {
                                                display: flex;
                                                // flex-direction: row;
                                                @media only screen and (min-width: 320px) and (max-width: 576px) {
                                                    flex-direction: column;
                                                    margin-bottom: 12px;
                                                }
                                                & > div {
                                                    margin-right: 12px;
                                                    width: 153px;
                                                    height: 115px;
                                                    & > img {
                                                        width: 100%;
                                                        max-width: 153px;
                                                        max-height: 115px;
                                                    }
                                                }
                                            }
                                            & > img {
                                                border-radius: 4px;
                                                margin-right: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.err {
    color: red !important;
}
textarea {
    resize: none;
}
.longCard {
    min-height: 865px;
    height: 100%;
    padding-bottom: 30px;
}
label.custom-file-upload.disabled{
    background-color: #69a2d4 !important;
    color: #dad5d5 !important;
    cursor:not-allowed !important;
}
app-menu {
    position: absolute !important;
    width: 100% !important;
    background: $yellow ;
}