<app-menu></app-menu>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card" [class.longCard]="true">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <button 
                class="nav-link active" 
                href="#login" 
                role="tab" 
                data-toggle="tab"
                id="btn1"
                (click)="showLine(1)"
                >¿Olvidaste la contraseña?</button>
                <p *ngIf="!displayLine"></p>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fadeshow active " id="login3">
                <p class="orUse">Ingresa tu email para recuperar contraseña</p>
                <form [formGroup]="forgotPassword"  (ngSubmit)="onSubmitForgot()">

                  <label for="email3">Email</label>
                  <input 
                  id="email3"
                  type="email" 
                  class="form-control " 
                  formControlName="email" 
                  [class.err]="forgotPassword.controls['email'].errors && forgotPassword.controls['email'].touched">

                  <button class="btn login" [disabled]="!forgotPassword.valid" >Recuperar</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>