<app-menu-user></app-menu-user>
<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card" [class.longCard]="true">
            <div class="avatar">
              <img src="./../../../assets/images/Slider-5-compressor.png" alt="avatar">
            </div>
            <form [formGroup]="profileUser" >

                <label for="name-user">Nombre</label>
                <input 
                id="name-user"
                type="text" 
                [(ngModel)]="name"
                [attr.disabled]="true"
                class="form-control " 
                formControlName="name" 
                [class.err]="profileUser.controls['name'].errors && profileUser.controls['name'].touched">

                <label for="number-user">Número de teléfono</label>
                <input 
                id="number-user"
                type="number"
                [(ngModel)]="number"
                [attr.disabled]="true"
                class="form-control" 
                formControlName="number"
                [class.err]="profileUser.controls['number'].errors && profileUser.controls['number'].touched">

                <label for="number-alternative-user">Número alternativo</label>
                <input 
                id="number-alternative-user"
                type="number"
                [attr.disabled]="true"
                [(ngModel)]="numberAlternative"
                class="form-control" 
                formControlName="number-alternative"
                [class.err]="profileUser.controls['number-alternative'].errors && profileUser.controls['number-alternative'].touched">

                <label for="email-user">Email</label>
                <input 
                id="email-user"
                type="email"
                [(ngModel)]="email"
                [attr.disabled]="true"
                class="form-control " 
                formControlName="email" 
                placeholder="Escribe tu email..."
                [class.err]="profileUser.controls['email'].errors && profileUser.controls['email'].touched">

                <label for="password-user">Contraseña
                  <button class="btn">
                    <img src="./../../../assets/images/edit.png" alt="edit">
                  </button>
                </label>
                <input 
                id="password-user"
                type="password" 
                formControlName="password" 
                [attr.disabled]="true"
                class="form-control" 
                placeholder="********"
                [class.err]="profileUser.controls['password'].errors && profileUser.controls['password'].touched"
                >
                <div class="button">
                  <button class="btn login" >Cerrar sesión</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>