<app-menu></app-menu>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h1>POLÍTICA DE PRIVACIDAD</h1>
      <p>
          Por medio de la presente Política de Privacidad se determina el tratamiento que el sitio Web Trop dará a los datos recibidos por parte de los usuarios, y que estará en un todo de acuerdo a lo establecido en la Ley Nacional N° 25.326 de Habeas Data.<br>
          Para ello, el sitio Web proporciona a los usuarios los recursos necesarios y suficientes para que tomen conocimiento de las presentes Políticas de Privacidad.<br>
          Trop asegura la confidencialidad de sus datos personales y asume el compromiso de garantizar la privacidad del Usuario y de no recabar información innecesaria. 
      </p>
      <h2>2. DATOS PERSONALES</h2>
      <p>Son considerados Datos Personales cualquier tipo de información o datos que pueda identificarlo directa o indirectamente. Los Datos Personales incluyen información referente a correo electrónico, códigos postales, teléfono de contacto, nombres de usuario, preferencias personales, y contenido generado por el usuario, entre otros. Podrán incluirse en esta categoría los datos de identificadores numéricos únicos como la dirección IP de su ordenador, y la información que pueda obtenerse a través de cookies.<br>
          Esta política de privacidad cubre todos los datos personales recopilados y utilizados por Trop.<br>
          Por el presente, el usuario y/o transportista, garantiza que los Datos Personales proporcionados son ciertos y exactos, y se compromete a notificar cualquier cambio o modificación de los mismos. Cualquier pérdida o daño causado a la Web, al responsable del tratamiento de datos o a cualquier tercero mediante la comunicación de información errónea, inexacta o incompleta en los formularios de registro, será responsabilidad exclusiva del usuario. Trop podrá recabar o recibir sus datos a través del sitio web, formularios o páginas en las redes sociales, a través de la aplicación Trop, entre otros. En algunos casos, el usuario facilita sus Datos Personales directamente (por ejemplo, al crear una cuenta, a través del contacto con la empresa por medio del chat, o con empresas de transporte y/o transportistas), o en otros casos, Trop recaba información por medio de cookies, con la finalidad de comprender la utilización que hacen los usuarios del sitio web).<br>
          Trop se reserva el derecho de modificar el contenido del documento de privacidad de datos personales con el objeto de adaptarlo a las novedades legislativas o jurisprudenciales, así como a las que pudieran derivarse de códigos tipo existentes en la materia.<br>
          Trop entiende que desde el momento en que un menor de edad accede al sitio web de Trop, cuenta con el permiso de sus padres, de su tutor o de su representante legal. Siempre que el sitio web de Trop le solicite datos de carácter personal, incluirá un enlace vinculado al presente documento con el propósito de informarle de sus derechos y obligaciones en materia de protección de datos de carácter personal.
      </p>
      <h2>3. UTILIZACION, TRATAMIENTO Y DESTINATARIOS DE LOS DATOS PERSONALES</h2>
      <p>
          - Los Datos Personales que recabados podrán ser tratados por el Responsable del Tratamiento, así como por empresas del Grupo del Responsable del Tratamiento, sobre la base legal del interés legítimo del Grupo y/o para cumplir con fines administrativos.
          <br>Asimismo, sus datos personales podrán ser comunicados a:
          <br>- Los transportistas y/o a proveedores de transporte, a fin de proceder con la correcta ejecución del servicio de envío.
          <br>- Terceros colaboradores y prestadores de servicios de TI, tales como proveedores de plataforma, servicios de alojamiento, mantenimiento y soporte de las bases de datos, software y aplicaciones.
          <br>- Terceros proveedores de servicios digitales, calificaciones y reseñas, CRM, análisis web y motores de búsqueda.
          <br>- Agencias de publicidad, marketing, medios digitales y redes sociales que ofrecen publicidad, marketing y campañas de la empresa, a los efectos de analizar su efectividad y con la finalidad de administrar los contacto y preguntas.
          <br>- Para mejorar la eficiencia del servicio, ocasionalmente sus datos podrán ser comunicados a prestadores de servicios externos que podrían estar ubicados en Estados Unidos de América u otros países o territorios situados fuera del Espacio Económico Europeo. No obstante, Trop se asegura de que toda comunicación de la información personal que realice la empresa o terceros con quienes se comparte la información personal, cumplan con la aplicación de las leyes correspondientes. 
      </p>
      <h2>4. SEGURIDAD DE LOS DATOS PERSONALES</h2>
      <p>
          Con el objetivo de salvaguardar la seguridad de sus datos personales, le informamos que la empresa ha adoptado todas las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos personales suministrados, ante eventuales alteraciones, pérdida y/o tratamientos o accesos no autorizados.
      </p>
      <h2>5. ACTUALIZACIÓN DE DATOS PERSONALES</h2>
      <p>Resulta de vital importancia mantener sus datos personales actualizados. El Usuario deberá informar cualquier modificación en sus datos personales, en caso contrario, Trop no responderá de la veracidad de los mismos. Trop no se responsabiliza de la política de privacidad respecto a los datos personales que pueda facilitar a terceros por medio de los enlaces disponibles en nuestra plataforma.</p>
      <h2>6. CONTACTO</h2>
      <p>A los fines de contactarse con Trop acerca de los alcances de las presentes Políticas de Privacidad, aclarar sus dudas o si desea ejercer cualquiera de los derechos anteriormente descritos, póngase en contacto con soporte@trop.com.ar </p>
    </div>
  </div>
</div>