@font-face {
    font-family: 'BrownStd-Regular';
    src: url('./../../../assets/fonts/BrownStd-Regular.otf');
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('./../../../assets/fonts/BrownStd-Bold.otf')
}

$yellow : #ffcf00;
$black : #171717;
$blue : #0F7EDF;
$white : #ffffff;

$font-bold: 'BrownStd-Bold';
$font-reg: 'BrownStd-Regular';

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    font-family: $font-reg;
    & > header {
        width: 100%;
        height: 424px;
        background-image: url('./../../../assets/images/city.svg');
        background-repeat: no-repeat;
        background-color: $yellow;
        background-position: 0% 100%;
        background-size: 100%;
        & > section.main {
            height: 100%;
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            & > div {
                &:first-child {
                    padding-top: 32px;
                }
                font-size: 36px;
                color: $black;
                text-align: center;
            }
            & > div > p:first-child {
                font-family: $font-bold;
            }
            & > div > a {
                width: 222px;
                height: 40px;
                font-size: 12px;
                text-transform: uppercase;
                background-color: $blue;
                color: $white;
                border-radius: 8px;
                padding-top: 12px;
                margin-top: 27px;
            }
        }
    }
    & > {
        section.benefits {
            & > .container {
                & > .row {
                    & > div.header {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding-top: 71px;
                        padding-bottom: 30px;
                        & > p {
                            text-align: center;
                            font-size: 22px;
                            color: $black;
                            font-family: $font-bold;
                        }
                    }
                    & > .col-sm {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        & > div.img {
                            height: 100px;
                            display: flex;
                            align-items: center;
                        }
                        & :nth-child(2) {
                            font-family: $font-bold;
                            font-size: 16px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                        & :nth-child(3) {
                            font-size: 13px;
                        }
                    }
                }
                & > .row.first_section {
                    padding-bottom: 30px;
                }
                & > .row.second_section {
                    padding-bottom: 100px;
                }
            }
        }
    }
}